ul.documents-list{
  margin: 0 0 rem(25);
  list-style: none;
  -moz-padding-start: 0;
  -webkit-padding-start: 0;

  li{
    a{
      display: block;
      padding:0 rem(15) rem(28) rem(55);
      font-family: $font-family-base;
      font-weight: normal;
      font-size:rem(14);
      line-height:(20/14);
      color: #004680;
      text-decoration: underline;
      position: relative;

      &:hover {
        text-decoration: none;
      }

      &:before {
        position: absolute;
        left: rem(16);
        top: rem(5);
        font-size: rem(25);
        line-height: 1;
        font-family: $font-family-icomoon;
        content: $pdf-icon;
      }
    }
  }
}