.header {
  .topbar {
    padding: 10px 16px;
    background: #17bdf0;
    @include clearfix;
    position: relative;

    @include minW480 {
      padding: 23px 28px;
    }
    @include sm {
      background: $global-color;
      padding: 0 15px;
    }

    &:before {
      content: '';
      display: block;
      width: 100%;
      position: fixed;
      height: 59px;
      background: #17bdf0;
      top: 0;
      left: 0;
      z-index: 100000;
      @include sm {
       display: none;
      }

    }

    //mobile navigation
    .menu-btn {
      display: block;
      float: left;
      cursor: pointer;
      width: 42px;
      height: 24px;
      background-size: auto 100%;
      margin-top: 7px;
      position: fixed;
      z-index:100010;

      @include minW480 {
        height: 35px;
        margin-top: 0;
      }

      @include sm {
        display: none;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background: url(../images/menu-btn.png) no-repeat;
        background-size: auto 100%;
        @include minW480 {
          background-size: auto auto;
        }
      }

      @include sm {
        display: none;
      }

    }

    .user {
      display: block;
      float: right;
      width: 38px;
      height: 26px;
      margin-top: 6px;

      position: fixed;
      right: 15px;
      z-index: 100010;

      @include minW480 {
        height: 38px;
        margin-top: 0;
        right: 28px;
      }
      @include sm {
        display: none;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background: url(../images/ic_people.png) no-repeat;
        background-size: auto 100%;
        background-position: right;
        @include minW480 {
          background-size: auto auto;
          background-position: left;
        }
      }

    }

    .mobile-create-btn {
      display: block;
      width: 65px;
      height: 134px;
      position: fixed;
      top: 160px;
      right: 0;
      z-index: 10000;
      background: url(../images/mobile-create-btn.png);

      @include sm {
        display: none;
      }

    }

    .collapse-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 9999;
      background: rgba(0, 0, 0, 0.59);

      @include clearfix;

      @include sm {
        display: block!important;
        position: static;
        background: $global-color;
      }
      .dropdown-wrapp {
        position: static;
        @include sm {
          position: relative;
        }
      }
      .dropdown-wrapp {
        .dropdown-menu {
          top: 59px;
          position: fixed;
          @include minW480 {
            top: 85px;
          }
          @include sm {
            top: 100%;
            position: absolute;
          }
        }
      }
    }

    .create-btn {
      display: none;
      @include sm {
        display: inline-block;
      }
    }

    //End mobile navigation

    .logo {
      margin: 0 auto;
      width: 276px;
      height: 39px;
      padding: 4px 0 0;
      @include minW480 {
        padding: 0;
      }
      @include sm {
        width: rem(200);
        height: rem(81);
        margin: 0;
        float: left;
      }

      a {
        height: 28px;

        display: block;
        width: 100%;
        content: '';
        background: url(../images/logo-mobile.png) no-repeat;
        background-size: auto 100%;
        background-position: center;

        position: fixed;
        left: 0;
        z-index: 100000;

        @include minW480 {
          height: 40px;
          background-size: auto auto;


        }

        @include sm {
          height: 81px;
          position: relative;
          left: auto;
          background: url(../images/logo-desctop.png) no-repeat;
          background-size: auto 100%;
        }

      }
    }

    .navbar {


    }
    .btn-holder {
      background: #cccccc;
      border-bottom: 1px solid #acacac;
      padding: 20px;
      width: 80%;
      overflow: hidden;
      @include minW480 {
        padding: 52px 39px;
      }

      .btn-row{
        @include clearfix;
        float: left;

        @include sm{
          float: none;
        }

        .create-btn{
          font-family: $font-family-3;
          background: #fff;
          color: #0e5f82;
          height: 32px;
          line-height: 32px;

          &:hover{
            background-color: #3f8bac;
            color: #fff;
            text-decoration: none;
          }

          @include sm{
            float: left;
            margin-right: 20px;
          }
        }

        .login-btn{
          @include sm{
            float: right;
          }


        }
      }

      .select-row{
        @include clearfix;

        .registration{

          @include sm{
            float: right;
            margin-right: 36px;
            font-size: 13px;
            padding-top: 5px;
          }
        }

        .select-town{
          @include sm{
            float: left;
            margin-left: 0;
          }

        }
      }

      @include sm {
        background: $global-color;
        margin: 0;
        padding: 13px 0 0;
        width: auto;
        float: right;
        border: none;
      }

      .town {
        font-family: $font-family-3;
        border: none;
        color: #0e5f82;;
        font-size: 14px;
        line-height: 1;

      }

      .login-btn {
        float: left;
        margin-right: 31px;
        border-radius: 15px;
        border-width: 2.25px;
        border-color:  #3a809f;
        border-style: solid;
        background-color:  #ffffff;
        margin-bottom: 10px;
        width: 160px;
        height: 40px;
        font-family:$IntroLightAlt;
        color: #0e5f82;
        font-size: 30px; /* Приближение из-за подстановки шрифтов */
        font-weight: 300;
        line-height: 40px; /* Приближение из-за подстановки шрифтов */
        text-align: center;
        text-decoration: none;

        &:hover{
          background-color: #3f8bac;
          color: #fff;
          text-decoration: none;
        }

        @include minW480 {
          width: 241px;
          height: 61px;
          margin-bottom: 0;
          line-height: 58px; /* Приближение из-за подстановки шрифтов */
          font-size: 43.95px; /* Приближение из-за подстановки шрифтов */
        }

        @include sm{
          float: none;
          margin: 0;
          border-radius: 20px;
          border-width: 1.25px;
          border-color: #0e5f82;
          border-style: solid;
          background-color: #ffffff;
          width: 162px;
          height: 32px;
          color: #0e5f82;
          font-size: 25.16px; /* Приближение из-за подстановки шрифтов */
          font-weight: 300;
          line-height: 32px; /* Приближение из-за подстановки шрифтов */
          text-align: center;
        }
      }

      .registration {
        color: #0e5f82;
        font-size: 20px; /* Приближение из-за подстановки шрифтов */
        font-weight: 300;
        line-height: 1; /* Приближение из-за подстановки шрифтов */
        text-decoration: underline;
        margin-bottom: 10px;
        font-family:$font-family-3;
        &.dropdown-button {
          display: none;
        }

        @include minW480 {
          font-size: 29.44px; /* Приближение из-за подстановки шрифтов */
        }

        

        @include sm {

          display: inline-block;
          font-size: rem(16);
          color: #0e5f82;
          display: block;
          margin-top: 7px;
        }
      }

      .select-town{

      }

    }
  }

  #owl-header {
    img {
      width: 100%;
      max-height:288px;
      @include sm{
        max-height: 400px;
      }
    }
  }

}








