.header {
  .topbar {
    padding: 23px 28px;
    background: #17bdf0;
    @include clearfix;
    position: relative;

    @include sm {
      background: $global-color;
      padding: 0;
    }

    //mobile navigation
    .menu-btn {
      display: block;
      float: left;
      cursor: pointer;
      width: 42px;
      height: 35px;

      a {
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background: url(../images/menu-btn.png) no-repeat;
      }

      @include sm {
        display: none;
      }

    }

    .user {
      display: block;
      float: right;
      width: 38px;
      height: 38px;
      @include sm {
        display: none;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background: url(../images/ic_people.png) no-repeat;
      }

    }

    .mobile-create-btn {
      display: block;
      width: 65px;
      height: 134px;
      position: fixed;
      top: 160px;
      right: 0;
      z-index: 10000;
      background: url(../images/mobile-create-btn.png);

      @include sm {
        display: none;
      }

    }

    .collapse-menu {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 9999;
      background: rgba(0, 0, 0, 0.59);

      @include clearfix;

      @include sm {
        display: block;
        position: static;
        background: $global-color;
      }

    }

    .create-btn {
      display: none;
      @include sm {
        display: inline-block;
      }
    }

    //End mobile navigation

    .logo {
      margin: 0 auto;
      width: 276px;
      height: 39px;
      @include sm {
        width: rem(241);
        height: rem(101);
        margin: 0;
        float: left;
      }

      a {
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background: url(../images/logo-mobile.png) no-repeat;

        @include sm {
          background: url(../images/logo-desctop.png) no-repeat;
        }

      }
    }

    .navbar {


    }
    .btn-holder {
      background: #cccccc;
      border-bottom: 1px solid #acacac;
      padding: 52px 39px;
      width: 80%;

      .btn-row{
        @include clearfix;
        float: left;

        @include sm{
          float: none;
        }

        .create-btn{

          @include sm{
            float: left;
            margin-right: 20px;
          }
        }

        .login-btn{
          @include sm{
            float: right;
          }

        }
      }

      .select-row{
        @include clearfix;

        .registration{

          @include sm{
            float: right;
            margin-right: 30px;
          }
        }

        .select-town{
          @include sm{
            float: left;
            margin-left: 40px;
          }

        }
      }

      @include sm {
        background: $global-color;
        margin: 0;
        padding: 21px 0 0;
        width: auto;
        float: right;
        border: none;
      }

      .town {
        font-family: $font-family-3;
        border: none;
        color: #0e5f82;;
        font-size: 14px;
        line-height: 1;

      }

      .login-btn {
        float: left;
        margin-right: 31px;
        border-radius: 15px;
        border-width: 2.25px;
        border-color:  #3a809f;
        border-style: solid;
        background-color:  #ffffff;
        width: 241px;
        height: 61px;

        color: #0e5f82;
        font-size: 43.95px; /* Приближение из-за подстановки шрифтов */
        font-weight: 300;
        line-height: 58px; /* Приближение из-за подстановки шрифтов */
        text-align: center;

        @include sm{
          float: none;
          margin: 0;
          border-radius: 20px;
          border-width: 1.25px;
          border-color: #0e5f82;
          border-style: solid;
          background-color: #ffffff;
          width: 162px;
          height: 40px;
          color: #0e5f82;
          font-size: 25.16px; /* Приближение из-за подстановки шрифтов */
          font-weight: 300;
          line-height: 38px; /* Приближение из-за подстановки шрифтов */
          text-align: center;
        }
      }

      .registration {
        font-family: $font-family-3;
        color: #0e5f82;
        font-size: 29.44px; /* Приближение из-за подстановки шрифтов */
        font-weight: 300;
        line-height: 1; /* Приближение из-за подстановки шрифтов */
        text-decoration: underline;
        margin-bottom: 19px;
        display: inline-block;

        @include sm {
          font-size: rem(16);
          color: #0e5f82;
          display: block;
          margin-top: 5px;
        }
      }

      .select-town{

      }

    }
  }

  #owl-header {
    img {
      width: 100%;
      height:288px;
      @include sm{
        height: 400px;
      }
    }
  }

}








