//menu
.navbar {
  background: #ebebeb;
  width:80%;
  @include sm{
    background: $global-color;
    display: block;
    width: auto;
    margin:0 auto;
  }

  .menu {
    list-style: none;
    margin: 0;
    padding:23px 0 0;
    //@include clearfix;

    @include sm {
      display: flex;
      justify-content:space-around;
      clear: both;
    }

    @include media-custom(1270px){
      clear: none;
    }

    > li {
      position: relative;


      @include sm {
        float: left;
        text-align: center;
      }

      &:hover {
        > a {
          color: #275569;;
        }

      }

      > a {
        display: flex;
        align-items: center;
        font-family: $font-family-2;
        color: #3a809f;
        font-size: 39.93px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 25px; /* Приближение из-за подстановки шрифтов */
        padding:13px 30px;

        @include sm{
          display: block;
          font-family: $font-family-2;
          color: #5c7f8e;
          font-size: $font-size-base;
          line-height: rem(26) / $font-size-base;
          position: relative;
          padding: 0;
        }

        &:before {
          display: block;
          width:82px;
          height: 84px;
          content: '';
          margin-right:24px;
          background: url(../images/header-sprite.png) no-repeat;
          background-size: cover;

          @include sm{
            margin: 0 auto;
            width: rem(44);
            height: rem(44);
            background-size: auto;
          }
        }
      }
    }

    .all {
      &:before {
        background-position: -2px -5px;
        @include sm{
          background-position: -2px -5px;
        }


      }
    }
    .pretty {
      &:before {
        background-position: -106px -5px;
        @include sm{
          background-position: -64px -5px;
        }
      }
    }
    .health {
      &:before {
        background-position: -209px -5px;
        @include sm{
          background-position: -128px -5px;
        }
      }
    }
    .mode {
      &:before {
        background-position: -314px -5px;
        @include sm{
          background-position: -192px -5px;
        }
      }
    }
    .food {
      &:before {
        background-position: -417px -5px;
        @include sm{
          background-position: -254px -5px;
        }
      }
    }
    .entertainment {
      &:before {
        background-position: -524px -5px;
        @include sm{
          background-position: -318px -5px;
        }
      }
    }
    .rest {
      &:before {
        background-position: -634px -5px;
        @include sm{
          background-position: -382px -5px;
        }
      }
    }
    .sport {
      &:before {
        background-position: -741px -5px;
        @include sm{
          background-position: -446px -5px;
        }
      }
    }
    .training {
      &:before {
        background-position: -846px -5px;
        @include sm{
          background-position: -510px -5px;
        }
      }
    }
    .goods {
      &:before {
        background-position: -953px -5px;
        @include sm{
          background-position: -572px -5px;
        }
      }
    }
    .services {
      &:before {
        background-position: -1058px -5px;
        @include sm{
          background-position: -635px -5px;
        }
      }
    }
    .search {
      &:before {
        background-position: -1164px -5px;
        @include sm{
          background-position: -698px -5px;
        }
      }
    }

  }

}

