%svg-icons:before{
    display: inline-block;
    font-family: 'ank-icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
%svg-icon-01:before{content:'\0041';} // little logo
%svg-icon-02:before{content:'\0042';} // list with corner
%svg-icon-03:before{content:'\0043';} // tv
%svg-icon-04:before{content:'\0044';} // picture
%svg-icon-05:before{content:'\0045';} // calendar
%svg-icon-06:before{content:'\0046';} // money
%svg-icon-07:before{content:'\0047';} // map marker
%svg-icon-08:before{content:'\0048';} //
%svg-icon-09:before{content:'\0049';} // three peoples
%svg-icon-10:before{content:'\004A';} // room with walls
%svg-icon-11:before{content:'\004B';} // beds
%svg-icon-12:before{content:'\004C';} // square
%svg-icon-13:before{content:'\004D';} // car
%svg-icon-14:before{content:'\004E';} // loupe
%svg-icon-15:before{content:'\004F';} // letter i - italic
%svg-icon-17:before{content:'\0050';} // train
%svg-icon-18:before{content:'\0051';} // bus
%svg-icon-19:before{content:'\0052';} // plane