%switch {
  position: relative;
  display: block;
  margin: 0;
  cursor: pointer;
  z-index: 15;

  .switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .switch-input:checked ~ .switch-label {
    background: $global-color;
    border: 2px solid $primary;

    &:before{
      opacity: 0;
    }

    &:after{
      opacity: 1;
    }
  }

  .switch-label{
    display: block;
    height: 100%;
    font-size: $font-size-xs;
    font-weight: normal;
    text-transform: uppercase;
    background: $global-color;
    //border-radius: $border-radius-base;
    transition: opacity, background .15s;
    @include tab-focus;
    border: 2px solid $gray-lightest;

    &:before,
    &:after{
      position: absolute;
      top: 54%;
      line-height: $line-height-normal;
      transition:inherit;
      transform:translateY(-50%);
      color: $global-color;
    }

    &:before{
      content: attr(data-off);
      color: $switcher-off-color;
    }

    &:after{
      content: attr(data-on);
      opacity: 0;
      color: $primary;
    }
  }

  .switch-handle{
    position: absolute;
    left: 4px;
    background: $gray-lightest;
    transition: .15s ease-in-out;
    will-change: transform;
  }
}